<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>

<style>

body{
    text-align: center;
    background-color: blanchedalmond;


}

img{
    border: 2px solid blue;
    width: 500px;
    margin-left: 8dp;

}


</style>


</head>
<body>
   
    <h2> Relampago Amarelo</h2>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9166c89f-6fe9-41f5-ab03-0b534b7fa565/d3347a9-04494c0c-6555-4656-866d-a6841a4ed3d7.png/v1/fit/w_710,h_477,q_70,strp/man_creates_yellow_lightning_by_gazek_d3347a9-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDc3IiwicGF0aCI6IlwvZlwvOTE2NmM4OWYtNmZlOS00MWY1LWFiMDMtMGI1MzRiN2ZhNTY1XC9kMzM0N2E5LTA0NDk0YzBjLTY1NTUtNDY1Ni04NjZkLWE2ODQxYTRlZDNkNy5wbmciLCJ3aWR0aCI6Ijw9NzEwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.M4h0B0phPc5pn1B245HNBD4PMox0J7Nr1SEtZbwmsKA">
    <img src="static/man_creates_yellow_lightning_by_gazek_d3347a9-375w-2x.jpg">
    <a href="https://oceanbrasil.com/">Visite o site</a>

</body>
</html>